
/* Whole document: */
body{
  font-family: Helvetica;
  font-size: 16pt;
}

/* Headers */
/*h1,h2,h3,h4,h5,h6{*/
/*  font-size: 24pt;*/
/*}*/

/* Echos of code chunks */
code.r{
  font-size: 14pt;
}

/* Results of code chunks */
pre {
  font-size: 14pt
}

/* See: https://stackoverflow.com/questions/36230790/missing-horizontal-scroll-bar-in-r-markdown-html-code-chunks-and-output */
/* pre, code {white-space:pre !important; overflow-x:scroll !important} */
code {
  white-space:pre !important; 
  overflow-x:scroll !important;  
}

pre {
  background-color: #EAECEE;
  padding: 5px 5px 5px 5px;
}

/* https://www.w3schools.com/howto/howto_css_style_hr.asp */
hr {
  border-top: 2px solid #e6e6e6;
/*  margin-bottom: 0px; */
/*  margin-top: 0px; */
}

/* For collapsible */
/* see: https://www.w3schools.com/howto/howto_js_collapsible.asp */
.collapsible {
  margin-top: 5px;
  margin-bottom: 5px; 
  background-color: white;
  color: #333333;
  font-style: italic;
  cursor: pointer;
  width: 100%;
  padding: 5px;
  border: 1px solid;
  border-color: #cccccc;
  text-align: left;
  outline: none;
  font-family: Helvetica;
  font-size: 12pt;
}

.content {
  display: none;
}

p {margin-bottom: 10px;
   margin-top: 10px;
} 

/* Head title */
h1.title {
  font-size: 40pt;
}

/* Head subtitle */
h1.subtitle {
  font-size: 28pt;
}

/* Margin for references */
.refsp {
  text-indent: -20px;
  margin-left: 40px
}

/* ordered list */
ol.n {
  list-style-type: lower-alpha
}